/* =====================================================
   Grid layout for Maple Circle website
   Author: Pattamaporn Jamjumrus
   Resources:
   - MDN Grid Layout: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
   ===================================================== */

* { box-sizing: border-box; }

.grid {
  display: grid;
  grid-gap: 5px;
  justify-content: center; /* Center the grid in the container */
}

.grid.add-gutters {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}
.grid.add-gutters {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

/* Mobile default: 1 column */
@media (min-width: 320px) {
.grid.four-column {
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}
}

/* Tablet / Desktop: 2 columns */
@media (min-width: 768px) {
  .grid.four-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens: 3 columns */
@media (min-width: 1440px) {
  .grid.four-column {
    grid-template-columns: repeat(3, 1fr);
  }
}

